{{ 'customer-forms.css' | asset_url | stylesheet_tag }}
<div class="reset-password-page page-width">
  <h1 class="reset-password-title">{{ 'customer.reset_password.title' | t }}</h1>

  {%- form 'reset_customer_password' -%}
    {%- if form.errors -%}
      <div class="form-errors" role="alert">
        {{ form.errors | default_errors }}
      </div>
    {%- endif -%}

    <div class="form-field">
      <label for="password" class="form-label">{{ 'customer.reset_password.password' | t }}</label>
      <input
        type="password"
        name="customer[password]"
        id="password"
        class="form-input"
        autocomplete="new-password"
        required
      >
    </div>

    <div class="form-field">
      <label for="password_confirmation" class="form-label">{{ 'customer.reset_password.password_confirm' | t }}</label>
      <input
        type="password"
        name="customer[password_confirmation]"
        id="password_confirmation"
        class="form-input"
        autocomplete="new-password"
        required
      >
    </div>

    <button class="btn" type="submit">
      {{ 'customer.reset_password.submit' | t }}
    </button>
  {%- endform -%}
</div>
