{{ 'password_page.login_password_button' | t }}
{{ 'password_page.login_form_heading' | t }}
{{ 'password_page.login_form_password_placeholder' | t }}
{{ 'password_page.login_form_error' | t }}
{{ 'password_page.login_form_submit' | t }}
{{ 'password_page.powered_by_shopify_html' | t }}
{{ 'password_page.admin_link_html' | t }}

{% comment %}
  Password Page Footer Section
  Iron Phoenix GHG Theme · 2025
  Follows Shopify translation best practices
{% endcomment %}

{{ 'password-footer.css' | asset_url | stylesheet_tag }}

<footer class="password-footer color-{{ section.settings.color_scheme }} gradient">
  <div class="password-footer__wrapper">
    <ul class="list-social list-unstyled" role="list">
      {% if settings.social_twitter_link %}
        <li class="list-social__item">
          <a href="{{ settings.social_twitter_link }}" class="link list-social__link" target="_blank" rel="noopener">
            <img src="{{ 'icon-twitter.svg' | asset_url }}" alt="{{ 'general.social.links.twitter' | t }}" width="24" height="24" class="social-icon">
          </a>
        </li>
      {% endif %}
      {% if settings.social_facebook_link %}
        <li class="list-social__item">
          <a href="{{ settings.social_facebook_link }}" class="link list-social__link" target="_blank" rel="noopener">
            <img src="{{ 'icon-facebook.svg' | asset_url }}" alt="{{ 'general.social.links.facebook' | t }}" width="24" height="24" class="social-icon">
          </a>
        </li>
      {% endif %}
      {% if settings.social_instagram_link %}
        <li class="list-social__item">
          <a href="{{ settings.social_instagram_link }}" class="link list-social__link" target="_blank" rel="noopener">
            <img src="{{ 'icon-instagram.svg' | asset_url }}" alt="{{ 'general.social.links.instagram' | t }}" width="24" height="24" class="social-icon">
          </a>
        </li>
      {% endif %}
      {% if settings.social_youtube_link %}
        <li class="list-social__item">
          <a href="{{ settings.social_youtube_link }}" class="link list-social__link" target="_blank" rel="noopener">
            <img src="{{ 'icon-youtube.svg' | asset_url }}" alt="{{ 'general.social.links.youtube' | t }}" width="24" height="24" class="social-icon">
          </a>
        </li>
      {% endif %}
      {% if settings.social_tiktok_link %}
        <li class="list-social__item">
          <a href="{{ settings.social_tiktok_link }}" class="link list-social__link" target="_blank" rel="noopener">
            <img src="{{ 'icon-tiktok.svg' | asset_url }}" alt="{{ 'general.social.links.tiktok' | t }}" width="24" height="24" class="social-icon">
          </a>
        </li>
      {% endif %}
      {% if settings.social_pinterest_link %}
        <li class="list-social__item">
          <a href="{{ settings.social_pinterest_link }}" class="link list-social__link" target="_blank" rel="noopener">
            <img src="{{ 'icon-pinterest.svg' | asset_url }}" alt="{{ 'general.social.links.pinterest' | t }}" width="24" height="24" class="social-icon">
          </a>
        </li>
      {% endif %}
      {% if settings.social_vimeo_link %}
        <li class="list-social__item">
          <a href="{{ settings.social_vimeo_link }}" class="link list-social__link" target="_blank" rel="noopener">
            <img src="{{ 'icon-vimeo.svg' | asset_url }}" alt="{{ 'general.social.links.vimeo' | t }}" width="24" height="24" class="social-icon">
          </a>
        </li>
      {% endif %}
      {% if settings.social_snapchat_link %}
        <li class="list-social__item">
          <a href="{{ settings.social_snapchat_link }}" class="link list-social__link" target="_blank" rel="noopener">
            <img src="{{ 'icon-snapchat.svg' | asset_url }}" alt="{{ 'general.social.links.snapchat' | t }}" width="24" height="24" class="social-icon">
          </a>
        </li>
      {% endif %}
      {% if settings.social_tumblr_link %}
        <li class="list-social__item">
          <a href="{{ settings.social_tumblr_link }}" class="link list-social__link" target="_blank" rel="noopener">
            <img src="{{ 'icon-tumblr.svg' | asset_url }}" alt="{{ 'general.social.links.tumblr' | t }}" width="24" height="24" class="social-icon">
          </a>
        </li>
      {% endif %}
    </ul>
    <div class="password-footer__powered">
      <small>
        {{ 'password_page.powered_by_shopify_html' | t }}
      </small>
      <small>
        {{ 'password_page.admin_link_html' | t }}
      </small>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Password Footer",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
  ],
  "presets": [
    {
      "name": "Password Footer"
    }
  ]
}
{% endschema %}
