{% comment %}
  Main Article Section for Blog Posts
  - Robust against missing images
{% endcomment %}

<article class="main-article" itemscope itemtype="https://schema.org/Article">
  <header>
    <h1 itemprop="headline">{{ article.title | escape }}</h1>
    <div class="article-meta">
      <span class="article-author" itemprop="author" itemscope itemtype="https://schema.org/Person">
        <span itemprop="name">{{ article.author | escape }}</span>
      </span>
      &nbsp;|&nbsp;
      <time class="article-date" itemprop="datePublished" datetime="{{ article.published_at | date: "%Y-%m-%d" }}">
        {{ article.published_at | date: "%B %d, %Y" }}
      </time>
    </div>
    {% if article.image and article.image.src != blank %}
      <div class="article-image">
        <img
          src="{{ article.image | image_url: '900x' }}"
          alt="{{ article.title | escape }}"
          loading="lazy"
          itemprop="image"
          width="900"
          height="auto"
        >
      </div>
    {% endif %}
  </header>
  <div class="article-content" itemprop="articleBody">
    {{ article.content }}
  </div>
  {% if article.tags.size > 0 %}
    <div class="article-tags">
      <strong>Tags:</strong>
      {% for tag in article.tags %}
        <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag | escape }}</a>{% unless forloop.last %}, {% endunless %}
      {% endfor %}
    </div>
  {% endif %}
</article>

{% schema %}
{
  "name": "Main Article",
  "settings": []
}
{% endschema %}
